/* dashboard style starts */

:root {
  --primary-color: #20a2b8;

  --blue-color: #2990fb;
  --white-color: #ffffff;
  --black-color: #27252c;
  --yellow-color: rgba(255, 222, 89, 1);
  --muted-color: rgba(120, 120, 120, 1);
  --body-color: rgba(250, 252, 252, 1);
}

.font-sm {
  font-size: 0.875rem;
}

.primary-text {
  color: #20a2b8 !important;
}

.primary-fill {
  fill: #20a2b8;
}

/* .button {
  padding: 6px 16px;
  border: 0;
  background-color: #20a2b8;
  color: white;
} */
.button {
  /* min-width: 158px; */
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  padding: 14px 32px;
  gap: 10px;
  font-weight: 500;
  line-height: 1;
  color: var(--black-color);
  transition: all 0.3s ease;
}

.button:disabled {
  opacity: 0.8;
  pointer-events: none;
}

.button.sm {
  padding: 14px 16px;
}

.button.lg {
  padding: 24px 38px;
}

.button.button-primary.outline:hover,
.button.button-primary {
  color: var(--white-color);
  background-color: var(--primary-color);
}

.button.button-primary.outline {
  border: 1px solid var(--primary-color);
  background-color: transparent;
  color: var(--primary-color);
}

.button-group {
  display: flex;
  align-items: center;
  gap: 5px;
}

.form-control.theme-control {
  min-height: 42px;
  box-shadow: none !important;
  border-color: rgba(169, 168, 171, 1);
}

.form-control.theme-control:focus {
  border-color: var(--primary-color);
}

.theme-control:checked {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

/* dashboard style ends */

.css-cgodsy {
  background-color: #e6ecec !important;
}

.css-1ow5xnn {
  background-color: #e6ecec !important;
}

.simplebar-placeholder {
  display: none !important;
}

table.list-table tr th {
  background-color: #20a2b8 !important;
  color: #fff !important;
}

table tr.user-roles-row th {
  background: #fff !important;
}

/* table.list-table tr th:first-child {
  border-radius: 12px !important;
}
table.list-table tr th:last-child {
  border-radius: 12px !important;
} */

.css-1xgctb-MuiButtonBase-root-MuiTableSortLabel-root:hover {
  color: #fff;
}

.description_div .ck-editor__main {
  height: 250px !important;
}

.errorCkEditor {
  border: 1px solid #ff4842;
}

/* From Uiverse.io by cuzpq */
.theme-checkbox {
  --toggle-size: 16px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 5em;
  height: 2em;
  background: -webkit-gradient(
      linear,
      left top,
      right top,
      color-stop(50%, #efefef),
      color-stop(50%, #2a2a2a)
    )
    no-repeat;
  background: -o-linear-gradient(left, #efefef 50%, #2a2a2a 50%) no-repeat;
  background: linear-gradient(to right, #efefef 50%, #2a2a2a 50%) no-repeat;
  background-size: 205%;
  background-position: 0;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  border-radius: 99em;
  position: relative;
  cursor: pointer;
  font-size: var(--toggle-size);
}

.theme-checkbox::before {
  content: "";
  width: 25px;
  height: 25px;
  position: absolute;
  top: 4px;
  left: 0.438em;
  background: -webkit-gradient(
      linear,
      left top,
      right top,
      color-stop(50%, #efefef),
      color-stop(50%, #2a2a2a)
    )
    no-repeat;
  background: -o-linear-gradient(left, #efefef 50%, #2a2a2a 50%) no-repeat;
  background: linear-gradient(to right, #efefef 50%, #2a2a2a 50%) no-repeat;
  background-size: 205%;
  background-position: 100%;
  border-radius: 50%;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.theme-checkbox:checked::before {
  left: calc(100% - 25px - 0.438em);
  background-position: 0;
}

.theme-checkbox:checked {
  background-position: 100%;
}

.css-zybjci-MuiButtonBase-root-MuiButton-root,
.css-16g32rn-MuiButtonBase-root-MuiButton-root {
  border-radius: 8px;
}

.css-zybjci-MuiButtonBase-root-MuiButton-root:hover,
.css-16g32rn-MuiButtonBase-root-MuiButton-root:hover {
  box-shadow: none !important;
  background-color: transparent !important;
  border: 1px solid #20a2b8;
  color: #20a2b8;
  transition: all 0.3s ease-in-out;
}

.css-5yo0qm-MuiButtonBase-root-MuiButton-root-MuiLoadingButton-root:hover,
.css-10q90za-MuiButtonBase-root-MuiButton-root-MuiLoadingButton-root:hover {
  box-shadow: none !important;
  background-color: transparent !important;
  border: 1px solid #20a2b8;
  color: #20a2b8;
  transition: all 0.3s ease-in-out;
}

.css-9kdeno-MuiPaper-root-MuiCard-root {
  background: none;
  /* border: 1px solid #20A2B8; */
}

.css-vbkxnb-MuiPaper-root-MuiCard-root {
  background: none;
}

.dark_card {
  background-color: #0d1626;
  color: #fff !important;
}

.dark_tableHead,
.dark_tableHead input {
  background-color: #0d1626 !important;
  color: #fff !important;
}

.dark_tableHead table.list-table tr th,
.dark_tableHead table tr.user-roles-row th {
  background-color: #0d1626 !important;
  color: #fff !important;
}

.dark_tableRow td {
  color: #fff;
}

.dark_pagination p,
.dark_pagination div {
  color: #fff;
}

.dark_pagination .MuiTablePagination-actions button {
  color: #fff;
}

.uploadFileInput {
  position: absolute;
  top: 40%;
  left: 47%;
  cursor: pointer;
}

.icon_products {
  width: 100%;
  height: 65px;
}

.web-content-card {
  position: relative;
  cursor: pointer;
}

.card_menu_icon {
  position: absolute;
  top: 0;
  right: 0;
}

.menu_popover {
  box-shadow: 0 0 0 0.2 red !important;
}

.product_menu_item {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation8.MuiPopover-paper.css-jmybbq-MuiPaper-root-MuiPopover-paper {
  box-shadow: 0px 0px 3px #00000005 !important;
}

.MuiBox-root.css-gt0ote {
  width: 100%;
  padding: 30px;
}

.tabs-container {
  display: block;
}

.tabs-container {
  display: block;
  width: 100%;
}

.tabs-header {
  display: flex;
  flex-direction: column;
}

.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation8.MuiPopover-paper.css-jmybbq-MuiPaper-root-MuiPopover-paper {
  box-shadow: none !important;
  border: 1px solid #6d6f7145;
}

.text-center {
  text-align: center;
  width: 100%;
}

/* Modal css************************************** */
.MuiBox-root.css-1xy56eb {
  padding: 0 !important;
}

.dark_Modal {
  background: #090c13;
  color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 #fff;
}

.dark_status h5,
.dark_status p {
  color: #fff;
}

.dark_card {
  background-color: #0d1626;
}

.dark_card label {
  color: #fff;
}

.dark_card input {
  background-color: #0d1626;
  color: #fff;
}

.media-selected img {
  transition: all 0.3s ease;
}

.checkedClass {
  border: 5px solid #20a2b8;
  border-radius: 12px;
}

.media-selected:not(.audio_container) img:hover {
  border: 5px solid #878d94;
  border-radius: 12px;
}

.media-selected:not(.audio_container) label {
  position: relative;
  width: 100%;
  border-radius: 12px;
  overflow: hidden;
}

.check-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 9999;
  background: #fff;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  pointer-events: none;
  border: 1px solid #eee;
}

.check-icon svg {
  width: 16px;
  height: 16px;
  display: none;
}

.audio_container.checked-label .check-icon,
.media-selected .checked-label .check-icon,
.media-selected:hover .check-icon {
  opacity: 1;
  visibility: visible;
}

.audio_container.checked-label .check-icon,
.media-selected .checked-label .check-icon {
  background-color: #20a2b8;
}

.audio_container.checked-label .check-icon svg,
.media-selected .checked-label .check-icon svg {
  display: block;
  color: white;
}

.upload-label-modal {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  background-color: transparent;
  outline: 0;
  border: 0;
  margin: 0;
  border-radius: 0;
  padding: 0;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  vertical-align: middle;
  -moz-appearance: none;
  -webkit-appearance: none;
  -webkit-text-decoration: none;
  text-decoration: none;
  color: inherit;
  text-transform: capitalize;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.75;
  min-width: 64px;
  padding: 6px 16px;
  border-radius: 4px;
  -webkit-transition:
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition:
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  color: #fff;
  background-color: #20a2b8;
  box-shadow:
    0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14),
    0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  font-weight: 500;
  border-radius: 4px;
}

.main-block {
  box-sizing: border-box;
  /* overflow: hidden; */
  text-align: center;
  width: 100%;
  /* padding: 5px; */
  min-height: 10px;
  position: relative;
}

.block-builder {
  border-block: 1px dashed #888;
  font-size: 0;
  margin: 0 0 10px 0;
  position: relative;
  z-index: 0;
  /* padding: 14px 16px; */
}

.block-builder.selected {
  border: 1px solid #20a2b8;
}

.plus-selected {
  height: 26px;
  width: 26px;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  position: absolute;
  top: -13px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}

.block-builder:hover .plus-selected {
  opacity: 1;
  visibility: visible;
}

.plus-selected i {
  height: 12px;
  width: 12px;
}

.inlineControls {
  opacity: 0;
  visibility: hidden;
  display: flex;
  position: absolute;
  z-index: 50;
  top: 8px;
  right: 4px;
  transition: all 0.3s ease;
}

.block-builder:hover .inlineControls,
.inlineControls.selected-controls {
  opacity: 1;
  visibility: visible;
}

.Inline_control__list {
  align-items: center;
  background-color: #fff;
  border: 1px solid #aaa;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  height: 24px;
  justify-content: center;
  margin-right: 6px;
  font-size: 14px;
  width: 24px;
}

.block-builder .quill-text-editor {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  width: 100%;
}

.block-builder .quill {
  position: relative;
}

.block-builder .quill .ql-toolbar {
  background-color: #fff;
  left: 50%;
  position: absolute;
  text-align: left;
  top: -52px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: -webkit-max-content;
  width: max-content;
  z-index: 99;
}

.block-builder .ql-container.ql-snow {
  border: none !important;
}
.ql-container {
  font-size: 24px !important;
}
.block-builder .ql-editor {
  overflow-y: hidden !important;
  padding: 12px 16px !important;
}

.quill-text-editor.read-only .ql-toolbar {
  display: none;
}

/* help desk ends */
/* editor header */
.editor-header {
  padding: 12px;
  border-radius: 12px;
  color: var(--white-color);
  background-color: var(--black-color);
}

.editor-header .header-wrap {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
}

.editor-header .head-center :is(button, a) {
  color: var(--primary-color);
}

.editor-header .head-left {
  display: flex;
  align-items: center;
  gap: 26px;
}

.editor-header .head-left p {
  display: flex;
  align-items: center;
  gap: 10px;
}

.editor-header .head-left p::before {
  content: "";
  height: 7px;
  width: 7px;
  background-color: #20a2b8;
  border-radius: 10px;
  display: block;
}

.editor-header .head-center {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 26px;
}

.editor-header .head-center a {
  color: var(--white-color);
  text-decoration: none;
}

.editor-header .head-center a.active {
  color: var(--primary-color);
}

.editor-dash {
  --dash-height: calc(100vh - 253px);
  height: var(--dash-height);
  display: grid;
  grid-template-columns: auto 1fr 300px;
}

.editor-dash .dash-left .panel-wrap {
  padding: 20px 12px;
  height: var(--dash-height);
  border-right: 1px solid #dedede;
}

.editor-dash :is(.dash-left, .dash-right) .panel-wrap {
  overflow: auto;
}

.editor-dash .dash-right .panel-wrap {
  height: var(--dash-height) !important;
  border-left: 1px solid #dedede;
}

.editor-dash .dash-center {
  padding: 50px;
  overflow: auto;
}

.setting-block {
  padding: 20px 12px;
}

.page-block {
  width: 110px;
  max-width: 120px;
  border: 1px solid #dedede;
  border-radius: 6px;
  background: var(--white-color);
  aspect-ratio: 1/1.2;
  padding: 10px 15px;
  font-size: 14px;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.page-block.active {
  border: 1px solid var(--primary-color) !important;
}

.page-block > i {
  font-size: 40px;
  color: #dedede;
  margin-inline: auto;
}

.page-block .options {
  position: absolute;
  bottom: 10px;
  right: 10px;
  opacity: 0;
  visibility: hidden;
  z-index: 2;
  transition: all 0.3s ease;
}

.page-block:hover .options {
  opacity: 1;
  visibility: visible;
}

.page-icon {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-top: 7px;
}

.page-icon span {
  width: 100%;
  display: block;
  background-color: #dedede;
  height: 6px;
  border-radius: 10px;
}

.page-icon span:last-child {
  width: 50%;
}

.page-view .more-pages {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-check-input.theme-control:checked {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.input-md {
  min-height: 32px;
}

.setting-block :is(input, textarea) {
  font-size: 14px;
  font-weight: 500;
}

.setting-block :is(input, textarea)::placeholder {
  font-size: 12px;
  font-weight: 500;
}

.toggle-panel {
  display: none;
}

.editor-dash.integration {
  padding: 50px 0;
  overflow: auto;
}

.inte-card {
  position: relative;
  border-radius: 10px;
  min-height: 240px;
  padding: 50px 16px 20px;
  background-color: var(--white-color);
}

.inte-card > img {
  height: 80px;
  max-width: 210px;
  object-fit: contain;
}

.inte-card .cl-toggle-switch {
  position: absolute;
  top: 20px;
  right: 20px;
}

.integration-popup {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  height: calc(100% - 70px);
  width: 50%;
  z-index: 1;
  overflow: auto;
  padding: 40px 80px 80px;
  background-color: var(--white-color);
  /* margin-left: auto; */
  /* position: relative; */
  transform: translateX(100%);
  transition: all 0.3s ease;
}

.integration-popup + .overlay {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  height: calc(100% - 70px);
  position: absolute;
  top: 70px;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}

.integration-popup.active {
  transform: translateX(0);
}

.integration-popup.active + .overlay {
  opacity: 1;
  visibility: visible;
}

.sharing-card {
  padding: 40px;
  height: 100%;
  border-radius: 20px;
  background-color: var(--white-color);
  box-shadow: 0px 4px 10px 0px rgba(35, 126, 155, 0.12);
}

.sharing-inner-card .sharing-img {
  height: 167px;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
}

.sharing-inner-card .sharing-body {
  border-radius: 0 0 10px 10px;
  padding: 18px 20px;
  border: 1px solid #dedede;
  border-top: 0;
}

.sharing-inner-card .sharing-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.sharing-link {
  padding: 66px 41px;
  border: 1px solid #dedede;
  border-radius: 10px;
}

/* editor header ends */
@media (max-width: 1199px) {
  /* header */
  .nav-container {
    max-width: unset;
  }

  .navigation .item-right .menu-item {
    gap: 20px;
    font-size: 0.875rem;
  }

  .has-child .mega-dropdown {
    max-width: calc(100% - 24px);
  }

  /* header ends */
  .business-cta {
    gap: 30px;
    padding-inline: 30px;
    display: grid;
    grid-template-columns: 1fr auto;
  }

  .business-cta > div:nth-child(1) {
    order: 1;
  }

  .business-cta > div:nth-child(2) {
    order: 3;
    grid-column: 1/3;
  }

  .business-cta > a:nth-child(3) {
    order: 2;
  }

  .busi-cta-content {
    padding-block: 20px;
  }

  :is(.temp-card-slider, .slider-wrap) .slider-nav.slider-prev {
    left: 0;
  }

  :is(.temp-card-slider, .slider-wrap) .slider-nav.slider-next {
    right: 0;
  }

  .analytics-table .table-row {
    grid-template-columns: auto auto auto 1fr;
  }

  .analytics-table .table-row :is(.table-head, .table-item) {
    width: auto;
    min-width: 220px;
    padding: 15px 20px;
  }
}

@media (max-width: 991px) {
  .spacer-y {
    padding-block: 60px;
  }

  /* header */
  .navigation .item-right .menu-item {
    gap: 20px;
    font-size: 0.875rem;
  }

  .hamburger {
    display: block;
    width: 25px;
    height: 20px;
    flex-shrink: 0;
    position: relative;
  }

  .hamburger span {
    display: block;
    height: 2px;
    background: var(--white-color);
    position: absolute;
    width: 100%;
  }

  .hamburger span:nth-child(2) {
    top: 9px;
  }

  .hamburger span:nth-child(3) {
    bottom: 0;
  }

  .profile-block {
    padding: 10px 20px 0;
    width: 100%;
  }

  .profile-block > .d-flex > .d-flex {
    color: var(--black-color);
    width: 100%;
  }

  .profile-block > .d-flex > i {
    color: var(--black-color);
    rotate: 180deg;
  }

  .profile-menu {
    bottom: 100%;
    width: 100%;
    padding: 10px;
    box-shadow: none;
    border-radius: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  .profile-menu .user-wrap img {
    width: 40px;
    height: 40px;
  }

  .profile-menu ul a {
    font-size: 14px;
  }

  .navigation .item-right {
    position: fixed;
    left: 0;
    top: 0;
    flex-direction: column;
    align-items: start;
    z-index: 9;
    width: 25%;
    padding: 12px 0;
    height: 100%;
    transform: translateX(calc(-100% - 1px));
    background-color: var(--white-color);
    transition: all 0.3s ease;
  }

  .navigation .item-right.active {
    transform: translateX(0);
  }

  .navigation .item-right .button-group a:nth-child(1) {
    color: var(--black-color);
  }

  .navigation .item-right .menu-item {
    flex-direction: column;
    align-items: start;
    gap: 0px;
    width: 100%;
  }

  .navigation .item-right .menu-item :is(li, a) {
    width: 100%;
    display: flex;
  }

  .menu-item li > a {
    align-items: center;
    justify-content: space-between;
    color: var(--black-color);
    padding: 10px 20px;
  }

  .navigation .item-right .menu-item .has-child {
    flex-direction: column;
  }

  .has-child .dropdown_menu {
    position: static;
    transform: unset !important;
    height: 0px;
    padding: 0;
    opacity: 1;
    visibility: visible;
    overflow: auto;
    border-radius: 0;
  }

  .has-child :is(.dropdown_menu, .mega-dropdown).active {
    padding: 10px 20px;
    max-height: 230px;
    border-block: 1px solid rgba(0, 0, 0, 0.1);
    height: 100%;
  }

  .has-child .dropdown_menu {
    position: static;
    transform: unset !important;
  }

  .has-child .dropdown_menu:not(.mega-dropdown) a {
    padding: 8px 0;
  }

  .item-right .button-group {
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    padding: 0 12px;
  }

  .item-right .button-group .button {
    width: 100%;
  }

  /* header ends */
  .challange-card .card-wrap {
    rotate: 0deg !important;
  }

  /* interactive */
  .interactive-wrap .interactive-left {
    padding: 20px 0;
  }

  /* interactive ends */
  .video-cta-wrap {
    padding: 30px 50px;
  }

  .gallery-section h1 ~ div {
    font-size: 14px;
  }

  .page-wrap {
    flex-direction: column-reverse;
  }

  .signup .page-wrap .form-blk,
  .signup .page-wrap .image-blk {
    position: relative;
    width: 100%;
  }

  .page-wrap .form-blk {
    padding: 40px 20px;
  }

  .signup .page-wrap .image-blk {
    height: 200px;
  }

  .template-prev-modal .modal-content {
    padding: 40px 20px;
  }

  .project-blk {
    flex-direction: column;
  }

  .project-controls {
    flex-wrap: wrap;
  }

  .project-controls .project-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  .custom_dropdown {
    position: absolute !important;
    height: unset !important;
    border: 1px solid rgba(0, 0, 0, 0.1) !important;
    padding: 14px !important;
    border-radius: 10px !important;
    right: 0;
    opacity: 0 !important;
    visibility: hidden !important;
    transform: translateY(10px) !important;
  }

  .custom_dropdown.active {
    opacity: 1 !important;
    visibility: visible !important;
    transform: translateY(0) !important;
  }

  .place-folder {
    padding: 10px;
  }

  /* editor responsiveness */
  .editor-header .header-wrap {
    grid-template-columns: 1fr 50% 1fr;
  }

  .editor-header .head-center {
    gap: 16px;
    font-size: 14px;
  }

  .editor-header .button span {
    display: none;
  }

  .editor-dash .dash-center {
    padding: 20px;
  }

  /* editor responsiveness ends */
}

@media (max-width: 767px) {
  .navigation .item-right {
    width: 300px;
  }

  .feature-row::after {
    content: unset;
  }

  .interactive-wrap {
    padding: 0 30px;
  }

  .business-cta {
    grid-template-columns: auto;
    padding: 20px 20px 0;
  }

  .business-cta > div:nth-child(2) {
    grid-column: unset;
  }

  .theme-alert {
    padding: 20px;
    flex-wrap: wrap;
  }

  .project-thumb {
    height: auto;
  }

  .project-thumb img {
    width: 100%;
  }

  .folder-grid {
    display: flex;
    flex-direction: column;
  }

  .form-wrap {
    padding: 30px 20px;
  }

  /* editor responsive */
  .editor-header .header-wrap {
    grid-template-columns: 1fr 70% 1fr;
  }

  .editor-header .head-left p {
    display: none;
  }

  .editor-dash {
    grid-template-columns: 1fr;
  }

  .editor-dash .dash-left {
    width: 135px;
    height: calc(100% - 70px);
    position: fixed;
    background-color: var(--white-color);
    left: 0;
    transition: all 0.3s ease;
  }

  .editor-dash .dash-right {
    width: 290px;
    position: fixed;
    right: 0;
    transition: all 0.3s ease;
  }

  .editor-dash :is(.dash-left, .dash-right) .panel-wrap {
    height: 100%;
    background-color: var(--white-color);
    transition: all 0.3s ease;
  }

  .integration-popup {
    padding: 30px 12px;
    width: 300px;
  }

  .editor-dash .dash-left {
    transform: translateX(-100%);
  }

  .editor-dash .dash-right {
    transform: translateX(100%);
  }

  .editor-dash :is(.dash-left, .dash-right).open {
    transform: translateX(0);
  }

  .toggle-panel {
    display: block;
    position: absolute;
    writing-mode: tb;
    top: 40px;
    font-size: 12px;
    padding: 12px 2px;
    background: var(--primary-color);
    color: var(--white-color);
    cursor: pointer;
  }

  .editor-dash .dash-left .toggle-panel {
    left: 100%;
    border-radius: 0 10px 10px 0;
  }

  .editor-dash .dash-right .toggle-panel {
    right: 100%;
    border-radius: 10px 0 0 10px;
  }

  .sharing-card {
    padding: 20px;
  }

  .sharing-link {
    padding: 30px 12px;
  }

  /* editor responsive ends */
}

@media (max-width: 575px) {
  .hero-card-wrap {
    width: 100%;
  }

  .hero-card {
    padding: 20px !important;
    width: 100% !important;
  }

  .hero-card .hero-rating {
    display: none;
  }

  .challange-card .card-wrap {
    padding: 55px 20px 30px 20px;
  }

  .boost-card {
    padding: 20px 30px;
    flex-direction: column;
    align-items: start;
  }

  .activity-grid {
    gap: 10px;
  }

  .activity-card {
    width: 75px;
  }

  .activity-card .icon {
    height: 75px;
    width: 75px;
  }

  .activity-card p {
    word-break: break-all;
  }

  .slide-nav {
    display: none;
  }

  /* business page */
  .busi-hero {
    padding: 30px;
  }

  /* business page ends */
  :is(.temp-card-slider, .slider-wrap) .slider-nav {
    display: none;
  }

  .template-explore-tag span {
    font-size: 0.875rem;
  }

  .contact-form {
    padding: 30px 20px;
  }

  .footer_wrap {
    padding: 20px 0;
  }

  .tab-menu-wrap li a {
    padding: 10px;
    font-size: 0.875rem;
  }

  /* help desk responsive */
  .help-desk {
    right: 12px;
    bottom: 12px;
  }

  .help-form {
    --height: calc(100vh - 134px);
    width: 296px;
  }

  /* help desk responsive */
  /* editor responsive */
  .editor-header {
    padding: 12px;
  }

  .editor-dash .dash-center {
    padding: 20px 12px;
  }

  .editor-header .header-wrap {
    grid-template-columns: unset;
    grid-template-areas:
      "left right"
      "center center";
    gap: 5px;
  }

  .editor-header .header-wrap .button {
    padding: 7px 10px !important;
  }

  .editor-header .head-left {
    grid-area: left;
  }

  .editor-header .head-center {
    grid-area: center;
  }

  .editor-header .head-right {
    grid-area: right;
  }

  .editor-header .head-center {
    gap: 7px;
    font-size: 14px;
  }
}

.color-picker-color {
  border: 1px solid #d8d8d8;
  border-radius: 8px;
  box-sizing: border-box;
  flex-shrink: 0;
  height: 42px;
  margin-right: 8px;
  overflow: hidden;
  width: 42px;
}

.colorInput {
  align-items: center;
  border: 1px solid #d8d8d8;
  border-radius: 2px;
  box-sizing: border-box;
  color: #3c3c3c;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  height: 32px;
  outline: none;
  padding: 0 8px;
  width: 100%;
}

.modal-grid {
  /* max-height: calc(100vh - 200px); */
  overflow: auto;
  scrollbar-width: none;
}

.modal-grid > div:nth-child(2) {
  height: calc(100vh - 200px);
  overflow: auto;
}

.next_cover {
  padding: 16px 24px;
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  text-align: end;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
}

#nprogress .spinner {
  display: none !important;
}

.preview-Cover .ql-editor {
  all: unset !important;
}

.input-folder {
  all: unset;
  border: 0;
  font-weight: 600;
  min-height: 0 !important;
}



.block-page {
  background-color: #fff;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow:
    0 1px 2px rgba(46, 35, 128, 0.15),
    0 0 8px -2px rgba(46, 35, 128, 0.15);
  box-sizing: content-box;
  color: #000;
  height: 100%;
  position: relative;
  width: 100%;
  z-index: 50;
}

.previewpage {
  margin: 0 auto;
}

/* find one pair */
.game-container {
  text-align: center;
  font-family: Arial, sans-serif;
  margin-top: 20px;
}

.timer {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.game-controls {
  margin-bottom: 20px;
}

.game-controls label {
  margin: 0 10px;
}

.game-controls input {
  width: 50px;
  text-align: center;
  margin-left: 5px;
}

.game-board {
  display: grid;
  gap: 10px;
  margin: auto;
  max-width: 600px;
}

.card {
  position: relative;
  width: 100%;
  padding-top: 100%;
  /* Maintain square shape */
  cursor: pointer;
  perspective: 1000px;
}

.card div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  border: 2px solid #333;
  border-radius: 8px;
  transition: transform 0.6s;
}

.card .front {
  transform: rotateY(180deg);
  background: #eee;
}

.card .back {
  transform: rotateY(0deg);
  background: #333;
}

.card.flipped .front {
  transform: rotateY(0deg);
}

.card.flipped .back {
  transform: rotateY(180deg);
}

.game-status h2 {
  font-size: 2rem;
  color: #333;
}

/* find a pair*/

.find-pair-head {
  background-color: #20a2b8;
  color: #fff;
  border-bottom: 1px solid #fff;
}

.sidebar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #20a2b8;
}

.sidebar ul li {
  padding: 10px 0;
  cursor: pointer;
}

.sidebar ul .active {
  background-color: #1b8396;
}

.sidebar ul li:hover {
  background-color: #1b8396;
}

.sidebar ul p {
  color: #fff;
}

.sidebar ul svg {
  background: #fff;
  border-radius: 50%;
  padding: 8px;
}

.playing-card-image {
  height: 37px;
  width: 40px;
}

.playing-card-image img {
  height: 100%;
  width: 100%;
  border-radius: 4px;
  object-fit: cover;
}

/* match-up */

.black-name-card {
  background-color: #d0f3f9;
  height: 90px;
  width: 90px;
  border-radius: 8px;
}

.matchup-name {
  height: 90px;
  width: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #20a2b8;
  border-radius: 8px;
}

.matchup-name h5 {
  color: #fff;
  margin: 0;
}

.matchup-blank {
  height: 100px;
  width: 100px;
  border: 1px dashed rgb(204, 204, 204);
  border-radius: 8px;
}

.matchup-image {
  height: 100px;
  width: 100px;
}

.matchup-image img {
  height: 100%;
  width: 100%;
  border-radius: 8px;
  object-fit: cover;
}

/* .active:hover {
  border: 1px dashed #1b8396 !important;
} */

.shake-animation {
  animation: shake 2s ease-in-out;
}

@keyframes shake {
  0% {
    transform: translateX(0) rotate(0deg);
  }

  25% {
    transform: translateX(-5px) rotate(-5deg);
  }

  50% {
    transform: translateX(5px) rotate(5deg);
  }

  75% {
    transform: translateX(-5px) rotate(-5deg);
  }

  100% {
    transform: translateX(0) rotate(0deg);
  }
}

/* treasure hunt */
.outer-img {
  box-sizing: border-box;
  border-radius: 2px;
  position: relative;
}

.outer-img img {
  height: 100%;
  width: 100%;
}

.outer-img svg {
  height: 44px;
  width: 44px;
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #ffffff91;
  border-radius: 50%;
  padding: 7px;
}

.middleContent {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.outer-img button {
  /* position: absolute;
  top: 45%;
  right: 33%; */
  border: none;
  border-radius: 4px;
  padding: 8px 22px;
  color: #198699 !important;
}

.question-modal-head {
  background-color: #be3b69;
}

.answer-input {
  width: 100%;
  padding: 5px;
  border-radius: 4px;
  /* border: 1px solid #be3b69; */
}

.unlock-btn {
  border: none;
  border-radius: 4px;
  padding: 6px 22px;
  background-color: #be3b69;
  color: #fff;
}

.shake-btn {
  animation: shake 1s ease-in-out;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 100%;
  aspect-ratio: 1;
  border: 1px solid #ddd;
}

.grid-piece {
  background-repeat: no-repeat;
  width: 100%;
  /* height: 271px !important; */
  /* aspect-ratio: 1 / 1 !important; */
}

/* trivia-quiz */
.trivia-quiz {
  position: relative;
  /* margin: 0 auto 20px; */
  padding-bottom: 67.5%;
  text-align: left;
}

.trivia-gif {
  width: 100%;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.trivia-gif img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.trivia-quiz + .trivia-content {
  margin: -112px auto 0;
}
.trivia-quiz.no-image + .trivia-content {
  margin: 20px 0;
}

.trivia-content {
  background: #fff;
  position: relative;
  /* bottom: -55%;
  left: 50%;
  transform: translate(-50%, -50%); */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
  padding: 30px 80px;
  border-radius: 8px;
  margin: 0 auto 0;
  width: calc(100% - 40px);
}

.trivia-question {
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translateX(-50%);
  background: #fff;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 8px;
  width: calc(100% - 40px);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
  text-align: center;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border-radius: 8px;
  padding: 14px 24px 16px;
  -webkit-box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
  max-width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  white-space: pre-line;
}

.trivia-quiz.no-image .trivia-question {
  width: 100%;
}

.trivia-question h3 {
  font-size: 38px !important;
}

.trivia-quiz.no-image {
  padding: 0;
}

.trivia-quiz.no-image .trivia-question {
  position: static;
  transform: unset;
  margin: 20px auto;
}

.trivia-answers ul {
  list-style: none;
  padding: 0;
}

.trivia-answers ul li {
  cursor: pointer;
  margin-bottom: 10px;
  padding: 20px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}

.trivia-answers ul li svg {
  height: 30px;
  width: 30px;
}

/* theme-quiz */
.home-img img {
  height: 100%;
  width: 100%;
}

.quiz-cards {
  background-color: #ef4425;
  position: relative;
}

.yellow-text {
  color: rgb(255, 255, 102);
  font-weight: bold;
}

.card-body img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  border-radius: 8px;
}

.card-body {
  cursor: pointer;
  transition: transform 0.6s ease-in-out;
}

.card-body:hover img {
  transform: scale(1.1);
}

.card-details-img {
  height: 500px;
  margin-bottom: 60px;
}

.card-details-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.card-details-content {
  background-color: #fff;
  position: absolute;
  bottom: -20%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 25px;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
}

.question_img {
  height: 500px;
  padding: 40px;
}

.question_img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.question-header {
  background-color: #fff;
  position: absolute;
  bottom: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 25px;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
}

.answers-options {
  padding: 0 40px 40px 0;
}

.answers-options ul {
  list-style: none;
}

.answers-options ul li {
  cursor: pointer;
  background-color: #fff;
  border: 2px solid #fff;
  margin-bottom: 10px;
  padding: 20px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}

.answers-options ul li:hover {
  border: 2px solid rgb(255, 255, 102);
}

.answers-options ul li svg {
  height: 30px;
  width: 30px;
}

.quiz-result {
  background-color: #fff;
  width: 50%;
  margin: auto;
  padding: 20px;
  text-align: center;
  border-radius: 8px;
}

.button-boost {
  background-color: #20a2b8;
  color: #fff;
  outline: 0;
  cursor: pointer;
  border: 0;
  padding: 0 44px;
  height: 52px;
  white-space: nowrap;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.12);
  font-size: 20px;
}

.pulseAnimation_button {
  animation: pulseButton 1.2s forwards alternate-reverse infinite;
}

.game_mainParent {
  position: relative;
  background-color: #fff;
}

.editButton {
  position: absolute;
  z-index: 5;
  left: 20px;
  top: 20px;
}

.preview-alert {
  max-width: 350px;
  padding: 40px 50px;
  background: rgba(255, 255, 255, 0.7);
  text-align: center;
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  border-radius: 10px;
}

.preview-alert span {
  color: #20a2b8;
}

.disabled-panel {
  filter: grayscale(1) blur(2px);
  pointer-events: none;
}

@keyframes pulseButton {
  0% {
    scale: 1;
  }

  100% {
    scale: 1.1;
  }
}

.modal-header-form {
  align-items: center;
  background-color: #20a2b8;
  border-radius: 4px 4px 0 0;
  display: flex;
  /* height: 60px; */
  justify-content: space-between;
  padding: 0 32px;
  position: relative;
  text-align: left;
  color: #fff;
}

.form-option-wrap {
  display: flex;
}

.form-option-wrap .form-left {
  width: 60%;
  height: calc(100vh - 200px);
  padding: 20px 40px 20px;
  overflow: auto;
}

.form-option-wrap .form-right {
  width: 40%;
  padding: 10px 40px 20px;
}

.formPreview {
  padding: 24px 20px 28px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12);
  margin-top: 20px;
  pointer-events: none;
}

.formPreview a {
  text-decoration: none;
}

.form-right h5 {
  color: #787878;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  margin-bottom: 10px;
}

.selectBox_input {
  width: 100%;
}

.fieldstype {
  gap: 10px;
}

.input_field {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.button_boost {
  color: #20a2b8 !important;
}

.previewLogo {
  height: 100px;
  margin-bottom: 24px;
  object-fit: contain;
  object-position: center;
  width: 100%;
}

.optionsEditScreen {
  height: 100%;
  background-color: #20a2b8;
  color: #fff;
}

.options-settings {
  font-size: 20px;
  align-items: center;
  border-top: 1px solid #62a5ea;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 120px;
  justify-content: center;
  align-items: center;
  padding: 10px;
  position: relative;
  transition:
    opacity 0.2s ease-in-out,
    background-color 0.2s ease-in-out;
  text-align: center;
  width: 100px;
}

.options-settings p {
  font-size: 0.875rem;
  margin-bottom: 0;
  margin-top: 10px;
  line-height: 1.1;
}

.toggle-container {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.toggle-switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  margin-left: 10px;
}

.toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 20px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:checked + .slider:before {
  transform: translateX(20px);
}

.coverchangeImage img {
  background-color: #d7d7d7;
  border-radius: 6px;
  flex-shrink: 0;
  height: 42px;
  /* margin-right: 8px; */
  object-fit: cover;
  object-position: center;
  width: 42px;
}

.coverchangeImage {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.button-changecover {
  background: #20a2b8;
}

.coverImage {
  height: 192px;
  object-fit: cover;
  width: 100%;
}

.cover_modal h4 {
  color: #000;
  font-family: Roboto, sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 19px;
  /* margin-top: 16px; */
  overflow-wrap: break-word;
  padding: 0 8px;
  text-align: center;
  white-space: pre-line;
}

.cover_modal p {
  color: #000;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  margin-top: 16px;
  overflow-wrap: break-word;
  padding: 0 8px;
  text-align: center;
  white-space: pre-line;
}

.cover_modal button {
  align-items: center;
  border-radius: 4px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.12);
  color: #fff;
  display: flex;
  min-height: 35px;
  justify-content: center;
  width: 100%;
}

.hideCover {
  opacity: 0.5;
  pointer-events: none;
}

.form-check.form-switch.toogle-questionsbank {
  align-items: center;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  box-sizing: border-box;
  display: flex;
  /* height: 64px; */
  margin: 16px 24px 0;
  padding: 16px 20px;
}

.questionImageLabel {
  border-radius: 6px;
  box-sizing: border-box;
  cursor: pointer;
  flex-shrink: 0;
  display: flex;
  height: 42px;
  overflow: auto;
  margin-right: 5px;
  width: 42px;
  border: 1px solid #20a2b8;
}

.questionImageLabel img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.questionSidebarList {
  border-bottom: 1px solid #d9d9d9;
  display: flex;
  /* margin-bottom: 15px; */
  padding-block: 15px;
  transition: all .3s ease;
}
.questionSidebarList.highlight {
  padding-left: 8px;
}

.sidebarquestions {
  padding: 25px 32px 20px;
  height: 100%;
}

.sidebarquestions.questioncol {
  height: calc(100% - 77px);
}

.selectypebutton {
  border-color: #20a2b8;
  padding: 10px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.scrollable-div {
  height: calc(100vh - 200px);
  overflow: auto;
}

.options-settings.activeTab {
  background: #198699;
}

label.btn.selectypebutton {
  align-items: center;
  box-sizing: border-box;
  color: rgb(60, 60, 60);
  cursor: pointer;
  display: flex;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  height: 32px;
  justify-content: center;
  line-height: 14px;
  width: 120px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(216, 216, 216);
  border-image: initial;
}

.btn.selectypebutton.selected {
  border: 1px solid #20a2b8;
}

.LinksButton {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  text-align: center;
}

.LinksButton a {
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 0 60px;
}

.lead_form_preview {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  padding: 40px 80px 44px;
  max-width: 800px;
  margin: 20px auto;
  overflow: hidden;
}

.showpaginationQuestions {
  /* background-color: #fff; */
  border-radius: 20px;
  /* -webkit-box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25); */
  /* box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25); */
  /* padding: 5px 16px 3px; */
  font-size: 16px;
  font-style: italic;
  color: #7c7c7c;
  position: absolute;
  top: 16px;
  text-align: center;
  left: 16px;
  z-index: 1;
}

.treauseHunt {
  max-width: 1200px;
  margin: 0 auto;
}

.treasure-hunt__tiles {
  height: 100%;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.treasure-hunt__tile-wrapper_wiheowibd {
  padding: 4px;
  box-sizing: border-box;
  border-radius: 2px;
}

.btn-propertion {
  height: 60px;
  width: 60px;
  align-items: center;
  background: #fff;
  border: 1px solid #d8d8d8 !important;
  border-radius: 2px !important;
  box-sizing: border-box;
  cursor: pointer !important;
  margin-right: 8px;
}

.selctedProp {
  border: 1px solid #20a2b8 !important;
}

.quest-cover {
  width: 100px;
  height: 100px;
  border-radius: 5px;
  background: url("https://via.placeholder.com/100") center/cover;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-direction: column;
}

.quest-cover input {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.quest-cover img {
  height: 100%;
  object-fit: cover;
}

.quest-cover img + label {
  position: absolute;
  bottom: 5px;
  right: 8px;
}

.quest-cover img + div.icons_pairs {
  position: absolute;
  bottom: 5px;
  right: 5px;
}

.icons_pairs label {
  height: 20px;
  width: 20px;
  font-size: 9px;
  color: var(--white-color);
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  line-height: 1;
  transition: all 0.3s ease;
}

.icons_pairs label:hover {
  color: var(--black-color);
  background-color: var(--white-color);
}

.quest-name-counter {
  font-size: 12px;
  color: gray;
  float: right;
}

.overlayimage {
  width: 32px;
  height: 32px;
}

.flex-direction-column {
  flex-direction: column !important;
}

.hunt__view button {
  padding: 5px 55px;
  font-size: 20px;
  height: 50px;
  margin-top: 10px;
}

.lock_icon {
  height: 50px;
  width: 50px;
  background: white;
  position: absolute;
  top: -25px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.question-modal-head {
  background-size: cover;
  background-position: center;
  height: 200px;
}

/* then now */

.then-now-block {
  width: 100%;
  height: inherit;
  position: relative;
}

.then-now-leftimg {
  background-size: cover;
  background-position: center;
  position: absolute;
  width: 100%;
  height: 100%;
}

.then-now-block__img-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.then-now-block__img-inner-container {
  position: absolute;
  width: inherit;
  height: inherit;
  top: 0;
}

.then-now-block__img {
  background-size: cover;
  background-position: center;
  position: absolute;
  width: 100%;
  height: 100%;
}

.then-now-block__delimiter {
  position: absolute;
  top: 0;
  width: 4px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: opacity 0.25s;
  -o-transition: opacity 0.25s;
  transition: opacity 0.25s;
  background-color: #fff;
}

.then-now-block__delimiter > svg {
  position: absolute;
  left: -22px;
  -webkit-animation: pulse 2s infinite;
  animation: pulse 2s infinite;
}

/* Rank Battle  */
.rank-battle-container {
  border-radius: 12px;
  position: relative;
}

.rank-battle-inner-container img {
  height: 100%;
  width: 100%;
  border-radius: 12px;
}

.rank-battle-content {
  width: 100%;
  /* position: absolute; */
  color: #fff;
  bottom: -1%;
  left: 50%;
  /* transform: translate(-50%, -50%); */
  /* text-align: center; */
}

.rank-battle-top-content {
  position: absolute;
  color: #fff;
  right: 0;
  top: 0;
  transform: translate(0%, 0%);
  text-align: center;
  padding: 8px 16px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
}

.rank-battle-wrap {
  position: absolute;
  bottom: 15px;
}

.form-right .rankPreview {
  padding: 0;
}

.rankPreview > div > div {
  flex-direction: column;
}

.rank-battle-top-content h5 {
  margin: 0;
}

.rank-battle-top-content svg {
  height: 20px;
  width: 20px;
}

.rank-battle-content-icon {
  cursor: pointer;
  height: 60px;
  width: 60px;
  /* position: absolute; */
  text-align: center;
  color: #fff;
  bottom: 14%;
  left: 44%;
  /* transform: translate(-50%, -50%); */
  padding: 8px;
  border: 2px solid #fff;
  border-radius: 50%;
  animation: scalePulse 1.5s infinite ease-in-out;
}

@keyframes scalePulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

.cards-block-area__card-disclaimer {
  width: 100%;
  padding-top: 6px;
  font-family: Roboto, sans-serif;
  font-size: 20px;
  line-height: 24px;
  overflow: hidden;
  text-align: center;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  color: #fff;
}

.final-screen {
  margin-bottom: 40px;
}

.final-screen__content-description {
  font-size: 20px;
  line-height: 28px;
  color: #000;
  padding: 0 60px;
  margin-bottom: 20px;
  white-space: pre-line;
}

.swiper {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
}

.mySwiper2 {
  height: 400px;
  width: 100%;
}

.mySwiper {
  height: 100px;
  box-sizing: border-box;
  padding: 10px 0;
}

.mySwiper .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100% !important;
  object-fit: cover;
}

/* fortune cookies */

.cards-block-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  padding: 5%;
  -webkit-transition-duration: 0.1s;
  -o-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -webkit-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  -webkit-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
  -webkit-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-animation: fadein;
  animation: fadein;
  -webkit-animation-duration: 0.7s;
  animation-duration: 0.7s;
}

.cards-block-area__card {
  padding: 5px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
  width: 160px;
  min-width: 50px;
  max-width: 200px;
}

.cards-block-area__card-cover-image {
  vertical-align: top;
  width: 100%;
  border-radius: 8px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 0;
  padding-bottom: 100%;
  -webkit-transition: -webkit-transform 0.25s linear;
  transition: -webkit-transform 0.25s linear;
  -o-transition: transform 0.25s linear;
  transition: transform 0.25s linear;
  transition:
    transform 0.25s linear,
    -webkit-transform 0.25s linear;
}

.final-screen {
  margin-bottom: 40px;
}

.final-screen__image-container {
  padding-bottom: 75%;
  height: 0;
  position: relative;
  text-align: left;
}

.final-screen__image {
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.final-screen__content {
  position: relative;
  padding: 36px 0 16px;
  margin: -112px 20px 0;
  background-color: #fff;
  -webkit-box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  text-align: center;
}

.final-screen__content-header {
  font-weight: 500;
  font-size: 36px;
  line-height: 42px;
  color: #000;
  padding: 0 60px;
  margin-bottom: 16px;
  white-space: pre-line;
}

.restart-button__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-bottom: 12px;
}

.image_illustrate {
  width: 40px;
  height: 40px;
}

/* Flip Card  */

/*  */

.flpicard____parent {
  transition: transform 0.8s;
}

.flpicard____parent.flipped .flip_inner {
  transform: rotateY(180deg);
}

.block.__4 {
  background-color: transparent;
  perspective: 1000px;
}

.flip_inner {
  height: 100%;
  position: relative;
  text-align: center;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  transition: -webkit-transform 0.8s;
  transition: transform 0.8s;
  transition:
    transform 0.8s,
    -webkit-transform 0.8s;
  width: 100%;
}

.flip_side {
  backface-visibility: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flip_switch {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: var(--white-color);
  background-color: var(--black-color);
  padding: 3px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 12px;
}

/* Container for the flip card */
.flip-card {
  background-color: transparent;
  width: 100%;
  /* Adjust the width of the card */
  perspective: 1000px;
  /* Creates a 3D effect */
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  /* Flip transition */
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* Flip the card when clicked */
.flip-card-inner {
  transform: rotateY(0deg);
  /* Default state */
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  /* Hides the back side when flipped */
}

.flip-card-front {
  background-color: #bbb;
  /* Set front color */
  color: black;
  /* Front text color */
}

.flip-card-back {
  background-color: #2980b9;
  /* Set back color */
  color: white;
  /* Back text color */
  transform: rotateY(180deg);
  /* This rotates the back side */
}

/* Style for the text area */
.text-area-cnt {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.text-area {
  width: 80%;
  padding: 10px;
  font-size: 16px;
  text-align: center;
}

.flip_switch {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  cursor: pointer;
}

.flip_switch p {
  font-size: 14px;
  padding: 3px 7px;
  transition: 0.3s;
  min-width: 50px;
  text-align: center;
}

.flip_switch p.active {
  color: var(--primary-color);
  background-color: var(--white-color);
  border-radius: 3px;
}

.btn_flip {
  position: absolute;
  bottom: 20px;
  background: #000;
  left: 50%;
  transform: translatex(-50%);
}

.btn_flip button {
  color: #fff;
}

/* .main-block .ql-editor p {
  padding: 12px 16px;
} */

.dropdown_menu {
  position: absolute;
  right: 0;
  background: var(--white-color);
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}

.dropdown_menu button {
  background-color: transparent;
  border: 0;
  color: var(--black-color);
  padding: 6px 12px;
}

.options:hover .dropdown_menu {
  opacity: 1;
  visibility: visible;
}

.form-switch .form-check-input {
  margin: 0 12px 0 0 !important;
}

.result-list {
  width: 260px;
  flex-shrink: 0;
}

.cover-block .ql-editor {
  padding: 0 !important;
}

.textImage-content_jsbf3 .ql-editor {
  padding: 0 !important;
}

.croppermodal .ReactCrop__child-wrapper {
  max-height: calc(100dvh - 150px);
  width: 100%;
}

.croppermodal {
  text-align: center;
  background: #ccc;
}

.theme-select .react-select__control {
  min-height: 42px;
  box-shadow: none !important;
  border-color: rgba(169, 168, 171, 1);
  border-radius: 6px;
}

.block-button .ql-editor {
  padding: 0 !important;
}

.list_button-wrap {
  padding-inline: 8px;
}

.list_button {
  display: flex;
  align-items: center;
  padding: 14px 16px;
  margin-bottom: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.list_button > div:nth-child(2) {
  margin: 0;
}

/* .list_button * {
  transition: all .3s ease;
} */
.list_button:hover * {
  color: white;
}

.list_button:hover img {
  filter: brightness(10) grayscale(1);
  -ms-filter: brightness(10) grayscale(1);
  -webkit-filter: brightness(10) grayscale(1);
}

.react-select__indicator-separator {
  display: none;
}

.disabled {
  pointer-events: none;
  /* Disables clicking, typing, etc. */
  opacity: 0.5;
  /* Makes the div look "disabled" */
}

.formPreview .game_mainParent .modal.registration-modal {
  display: none !important;
}

.formPreview .game_mainParent .sliding-puzzle__shuffle-button-container {
  display: none;
}

.editor-timeline .ql-editor {
  padding: 0 !important;
}

.form-right .formPreview .puzzle-container {
  flex-direction: column;
}

.form-right .formPreview .puzzle-grid {
  grid-template-columns: repeat(4, 1fr) !important;
  grid-template-rows: repeat(4, 1fr) !important;
  aspect-ratio: 1 / 1;
  width: 100%;
  border: 2px solid var(--primary-color) !important;
  padding: 0 !important;
  border-radius: 8px;
  overflow: hidden;
}

.form-right .formPreview .puzzle-slot {
  height: 100% !important;
  width: 100% !important;
  border: 0 !important;
  background: #ffffff !important;
}

.form-right .formPreview .side-zone {
  width: 100%;
}

.form-right .formPreview .side-zone .tiles-container {
  padding: 0 !important;
  border: 0;
  width: 100%;
  max-width: 100%;
  grid-template-columns: repeat(4, 1fr) !important;
  grid-template-rows: repeat(2, 1fr) !important;
}

.form-right .formPreview .side-zone .tiles-container .puzzle-slot {
  height: 100% !important;
  width: 100% !important;
}

.form-right
  .formPreview
  .side-zone
  .tiles-container
  .puzzle-slot
  .puzzle-piece {
  height: 100% !important;
  width: 100% !important;
  aspect-ratio: 1/1;
}

label.upload-label-modal {
  z-index: 3;
}

textarea {
  overflow: hidden;
  resize: none;
  scrollbar-width: none;
}

/* footer css  */
.Footer_footer__bMDNk {
  align-items: center;
  background-color: #fff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  display: flex;
  height: 72px;
  justify-content: flex-end;
  padding: 0 40px;
  position: relative;
  text-align: left;
  margin: 0;
}

.Footer_footerItem__yaFNE {
  margin-right: 12px;
}

.Footer_footerItem__yaFNE:last-child {
  margin-right: 0;
}

/* screen Error show */
.StopPanel_modalStop__Msu\+K {
  border-radius: 4px;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 100;
}

.StopPanel_modalOverlay__1dGP2 {
  background-color: hsla(0, 0%, 100%, 0.3);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 110;
}

.StopPanel_modalContent__8Epq4 {
  background-color: #fff;
  bottom: 0;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  left: 0;
  padding: 24px 40px 14px 36px;
  position: absolute;
  text-align: left;
  width: 100%;
  z-index: 120;
}

.StopPanel_note__c\+Qou {
  display: flex;
  margin-bottom: 5px;
}

.StopPanel_imageBox__2Udoo {
  align-items: center;
  display: flex;
  flex-shrink: 0;
  height: 80px;
  justify-content: center;
  margin-right: 20px;
  width: 80px;
}

.StopPanel_image__2gtri {
  max-height: 100%;
  max-width: 100%;
}

.StopPanel_buttons__cZz5n {
  display: flex;
  justify-content: flex-end;
}

.StopPanel_textBox__stxYL {
  padding-top: 10px;
  width: 100%;
}

.StopPanel_textTitle__T8v5c {
  color: #3c3c3c;
  font-family: Ubuntu, sans-serif;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 12px;
}

.StopPanel_textContent__2I\+u6 {
  color: #3c3c3c;
  font-size: 18px;
}

.decide-icon {
  position: absolute;
  top: 10px;
  left: 10px;
}

/* highlighing  */
.highlight {
  background-color: #f0f0f0;
  /* Change to your desired highlight color */
  border-left: 4px solid #007bff;
  /* Optional, for a more noticeable highlight */
}

/* style for  chimp and webhook */
.MailChimpIntegrations_MailchimpIntegrations__vUrTG {
  align-items: center;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  display: flex;
  justify-content: space-between;
  padding: 12px;
}

.MailChimpIntegrations_MailchimpIntegrations__vUrTG
  .MailChimpIntegrations_group__PxJ26 {
  align-items: center;
  display: flex;
  gap: 20px;
}

.MuiSwitch-root {
  cursor: pointer;
  /* display: inline-block; */
  font-size: 0;
  height: 16px;
  padding: 0;
  /* position: relative; */
  width: 30px;
}

.restart-button__wrapper a:hover {
  color: inherit;
}
.btn:hover {
  color: inherit !important;
}
.resize-none {
  resize: none !important;
}

.questioncontent {
  transition: all .3s ease;
}
.questioncontent.highlight {
  padding-left: 20px;
  padding-top: 10px;
  padding-right: 20px;
}

.large-top-image {
  max-width: 200px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  display: block;
  margin-left: 250px;
  margin-right: auto;
}

.small-card-image {
  max-width: 100px;
  height: auto;
}