#remix-app-root {
  outline: 0;
  overflow: hidden;
  position: relative;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}

.highlighted {
  border: 22px solid gold;
  transition: border 0.5s ease-in-out;
}

/* second div  */
/* .wheelSpin-block {
  background-color: lightgray;
} */

.wheel-spin-container {
  position: relative;
}

.wheel-spin {
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 30px 10px 10px;
}

.wheel-spin__wheel-container {
  height: auto;
  position: relative;
  margin: 0 auto;
}

.wheel-spin__spin-button {
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  z-index: 1000;
  background-color: #fff;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-animation: pulse-animation 1s infinite;
  animation: pulse-animation 1s infinite;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
}

.wheel-spin__win-arrow {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 1000;
  font-size: 0;
  text-align: center;
}

.wheel-sections {
  border-radius: 50%;
  border: 0 solid #fff;
  position: relative;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #fff;
  -webkit-box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transform: rotate(var(--wheelFinalRotationDeg));
  -ms-transform: rotate(var(--wheelFinalRotationDeg));
  transform: rotate(var(--wheelFinalRotationDeg));
  cursor: pointer;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.wheel-section {
  height: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform-origin: bottom;
  -ms-transform-origin: bottom;
  transform-origin: bottom;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transform: translateY(-100%) rotate(var(--sectionRotateDeg));
  -ms-transform: translateY(-100%) rotate(var(--sectionRotateDeg));
  transform: translateY(-100%) rotate(var(--sectionRotateDeg));
}

.wheel-section.selected {
  /* Animate by scaling up, or you can change other properties as needed */
  animation: highlightSection 1s ease-in-out forwards;
}

@keyframes highlightSection {
  from {
    transform: translateY(-100%) rotate(var(--sectionRotateDeg)) scale(1);
  }

  to {
    transform: translateY(-100%) rotate(var(--sectionRotateDeg)) scale(1.1);
  }
}

.wheel-section-content {
  color: #fff;
  -webkit-transform: scale(-1, -1) translateX(50%);
  -ms-transform: scale(-1, -1) translateX(50%);
  transform: scale(-1, -1) translateX(50%);
  position: absolute;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  left: 50%;
  top: auto;
  right: 0;
  overflow: hidden;
}

.wheel-section-content__image {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
  -webkit-transform: scale(-1, -1);
  -ms-transform: scale(-1, -1);
  transform: scale(-1, -1);
}

.wheel-section-content__image__img {
  width: 100%;
  padding-bottom: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.final-screen {
  max-width: 1200px;
  margin: 0 auto 20px;
}

.final-screen__image {
  /* background-repeat: no-repeat; */
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.final-screen__image-container {
  height: 0;
  position: relative;
  text-align: left;
  overflow: hidden;
}

.final-screen__content {
  position: relative;
  padding: 36px 0 16px;
  margin: -112px 20px 0;
  background-color: #fff;
  -webkit-box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  text-align: center;
}

.final-screen__content-header {
  font-weight: 500;
  font-size: 36px;
  line-height: 42px;
  color: #000;
  padding: 0 60px;
  margin-bottom: 16px;
  white-space: pre-line;
}

.final-screen__content-description {
  font-size: 20px;
  line-height: 28px;
  color: #000;
  padding: 0 60px;
  margin-bottom: 20px;
  white-space: pre-line;
}

.restart-button__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-bottom: 12px;
}

.restart-button__btn {
  display: block;
  outline: 0;
  cursor: pointer;
  margin: 0 auto;
  white-space: nowrap;
  -webkit-box-shadow: 0 4px 20px rgba(0, 0, 0, 0.12);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  font-size: 20px;
  height: 52px;
  background-color: #fff;
  border: 1px solid #d8d8d8;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 24px;
  color: #787878;
  padding: 0 40px 0 66px;
  background-repeat: no-repeat;
  background-position: 40px 50%;
  /* background-image: url(data:image/svg+xml,%3Csvg width='16' height='20' viewBox='0 0 16 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15 12C15 15.866 11.866 19 8 19C4.13401 19 1 15.866 1 12C1 8.13401 4.13401 5 8 5H10' stroke='%23787878' stroke-width='2' stroke-linecap='round'/%3E%3Cpath d='M7 9L11 5L7 1' stroke='%23787878' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A); */
  -webkit-transition-duration: 0.1s;
  -o-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -webkit-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  -webkit-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
  -webkit-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}

.cover-modal {
  background: 0 0;
}

.modal {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 100000;
  cursor: default;
}

.cover-modal>.modal__content {
  width: 67%;
  max-width: 380px;
}

.modal__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 8px;
  -webkit-box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
  width: 480px;
  max-width: calc(100% - 16px);
  max-height: calc(100% - 16px);
  overflow: hidden;
  background-color: #fff;
  position: relative;
}

.modal__content-scroll {
  width: 100%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-color: #bdbdbd #eaeaea;
  scrollbar-width: 8px;
}

.common-cover {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  width: 100%;
  padding: 48px 40px;
}

.common-cover__title {
  font-weight: 500;
  font-size: 28px;
  line-height: 36px;
  color: #000;
  margin-bottom: 32px;
  white-space: pre-line;
}

.common-cover__button {
  overflow: hidden;
  outline: 0;
  cursor: pointer;
  border: 0;
  padding: 0 44px;
  height: 50px;
  -webkit-box-shadow: 0 4px 20px rgba(0, 0, 0, 0.12);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  color: #fff;
  font-size: 20px;
  -webkit-animation: pulse 2s infinite;
  animation: pulse 2s infinite;
}

.wheel-section-content__text {
  width: 100%;
  text-align: center;
}

.cover_modal .wheel-spin__spin-button {
  height: 70px !important;
  width: 70px !important;
  left: calc(50% - 35px) !important;
  top: calc(50% - 35px) !important;
}

.cover_modal .wheel-section-content__text {
  font-size: .875rem !important;
}

.cover_modal .wheel-spin__win-arrow {
  height: 40px !important;
  top: -17px !important;
}

.cover_modal .wheel-spin__win-arrow svg {
  height: 100%;
}